/* Nesting */
nav {
  a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
}

nav {
  width: 100%;
  background-color: var(--main-bg);
  z-index: 1;
  padding: 0.5rem;
}

.nav-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.25rem;
}

.icon-size {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 767px) {
  nav {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  nav {
    top: 0;
  }

  .nav-width {
    max-width: 1200px;
    margin: 0 auto;
  }

  .icon-size:hover {
    width: 2.1rem;
    height: 2.1rem;
  }
}
